.page-container {
    .search-results {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        grid-auto-rows: 30rem;
        margin-top: 5rem;
    }

    .search-results-pagination {
        display: grid;
        justify-content: center;
        grid-template-columns: 14rem 14rem;
        column-gap: 1rem;
        margin: 4rem 0 2rem;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .search-results-main-pagination__button {
        background-color: #EB4E7A;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: .2rem;
        padding: 1rem;
        text-transform: uppercase;
        transition: background-color .5s, color .5s;
        // width: 14rem;
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}