.preview-item {
    max-width: 100px;
    position: relative;

    .image {
        width: 100%;
        border-radius: 10px;
    }

    .name {
        margin-top: 0.7em;
        margin-bottom: 0;
    }

    .genre {
        opacity: 0.5;
        font-weight: normal;
        margin: 0.5em 0 0 0;
        font-size: 0.9rem;
    }

    .vote-average {
        position: absolute;
        left: 20%;
        top: 20px;
    }
    
}

.backdrop-item {
    display: block;
    width: 100%;
    height: calc(100vh - 90px);
    background-position: center 0;
    background-size: cover;
}