.preview-item {
  position: relative;
  display: flex;
  min-height: 25rem;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.1);

    .image {
        filter: brightness(1);
        }
        .name {
            opacity: 1;
    }
        .genre {
            opacity: 1;
    }
      
  }

  .image {
      border-radius: 1rem;
      z-index: 0;
      height: auto;
      width: 100%;
      filter: brightness(0.4);
transition: all 0.4s;

  }

  .name {
      margin-top: 0.7em;
      margin-bottom: 0;
      color: white;
      z-index: 1;
      text-align: center;
      opacity: 0.6;
transition: all 0.4s;

  }

  .genre {
      font-weight: normal;
      margin: 0.5em 0 0 0;
      font-size: 1.4rem;
      color: white;
      z-index: 1;
      text-align: center;
      opacity: 0.6;
transition: all 0.4s;

  }

  .vote-average {
      position: absolute;
      z-index: 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(0,0,0);
      opacity: 0.7;
      z-index: 1;
      top: 0;
      border-radius: 0px 0 10px 10px;
      color: white;
      margin: 0;
      padding: 1rem;
  }
  
}

.backdrop-item {
  display: block;
  width: 100%;
  height: calc(100vh - 9rem);
  background-position: center 0;
  background-size: cover;
  color: white;
  position: relative;
  
  &__background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  &__container {
      position: absolute;
      left: 8rem;
      bottom: 4rem;
  }
  
  &__name {
      font-size: 4rem;
      margin: 1rem 0;
  }

  &__category {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    
  }
}